In [1]:
print("Hello world!")

Hello world!

In [2]:
import pandas as pd
import numpy as np

#Method to load excel with pandas
#loadDF = pd.read_excel("../CopiaDatosMATLAB.xlsx")
#Method to load excel with pandas
loadDF = pd.read_csv("../data sampled every 10th sec.csv", delimiter=';')
loadDF = loadDF.drop(loadDF.index[0:2])
loadDF
#loadDF.to_csv("../comotuquieras.csv")
#loadDF.infer_objects().dtypes

,Cañuelas/Ezeiza #3 (S01),BAC10GS101/XP01,Cañuelas/Ezeiza #3 (S01).1,BAC10GS101/XP11,Cañuelas/Ezeiza #3 (S01).2,CFA10CE001/XE01,Cañuelas/Ezeiza #3 (S01).3,MBA10AE005/XG01,Cañuelas/Ezeiza #3 (S01).4,MBA10CP010/XE01,...,Cañuelas/Ezeiza #3 (S01).75,MBP10CT005/XE01,Cañuelas/Ezeiza #3 (S01).76,MBP10CT006/XE01,Cañuelas/Ezeiza #3 (S01).77,MBP10CT007/XE01,Cañuelas/Ezeiza #3 (S01).78,MKA10CE014/XE01,Cañuelas/Ezeiza #3 (S01).79,MKY10CS010/XE01
2,2018-06-02 18:00:00.000,Bad,2018-06-02 18:00:00.000,Bad,2018-06-02 18:00:00.000,"-0,0567508675158024",2018-06-02 18:00:00.000,"19,0136661529541",2018-06-02 18:00:00.000,"102,588500976563",...,2018-06-02 18:00:00.000,"32,2934684753418",2018-06-02 18:00:00.000,"29,1945705413818",2018-06-02 18:00:00.000,"31,3107070922852",2018-06-02 18:00:00.000,Bad,2018-06-02 18:00:00.000,Bad
3,2018-06-02 18:00:10.000,Bad,2018-06-02 18:00:10.000,Bad,2018-06-02 18:00:10.000,"-0,0567762767420952",2018-06-02 18:00:10.000,"19,0012156462313",2018-06-02 18:00:10.000,"102,588534948158",...,2018-06-02 18:00:10.000,"32,2942708869672",2018-06-02 18:00:10.000,"29,1975118982188",2018-06-02 18:00:10.000,"31,3111678369682",2018-06-02 18:00:10.000,Bad,2018-06-02 18:00:10.000,Bad
4,2018-06-02 18:00:20.000,Bad,2018-06-02 18:00:20.000,Bad,2018-06-02 18:00:20.000,"-0,0568016859683879",2018-06-02 18:00:20.000,"18,9945036448101",2018-06-02 18:00:20.000,"102,588568919754",...,2018-06-02 18:00:20.000,"32,2950732985925",2018-06-02 18:00:20.000,"29,2004532550557",2018-06-02 18:00:20.000,"31,3116285816511",2018-06-02 18:00:20.000,Bad,2018-06-02 18:00:20.000,Bad
5,2018-06-02 18:00:30.000,Bad,2018-06-02 18:00:30.000,Bad,2018-06-02 18:00:30.000,"-0,0568270951946807",2018-06-02 18:00:30.000,"18,9944473180044",2018-06-02 18:00:30.000,"102,588602891349",...,2018-06-02 18:00:30.000,"32,2958757102179",2018-06-02 18:00:30.000,"29,2033946118927",2018-06-02 18:00:30.000,"31,3120893263341",2018-06-02 18:00:30.000,Bad,2018-06-02 18:00:30.000,Bad
6,2018-06-02 18:00:40.000,Bad,2018-06-02 18:00:40.000,Bad,2018-06-02 18:00:40.000,"-0,0568525044209735",2018-06-02 18:00:40.000,"18,9943909911987",2018-06-02 18:00:40.000,"102,588636862945",...,2018-06-02 18:00:40.000,"32,2966781218433",2018-06-02 18:00:40.000,"29,2063359687296",2018-06-02 18:00:40.000,"31,3125500710171",2018-06-02 18:00:40.000,Bad,2018-06-02 18:00:40.000,Bad
7,2018-06-02 18:00:50.000,Bad,2018-06-02 18:00:50.000,Bad,2018-06-02 18:00:50.000,"-0,0568779136472662",2018-06-02 18:00:50.000,"18,994334664393",2018-06-02 18:00:50.000,"102,58867083454",...,2018-06-02 18:00:50.000,"32,2974805334686",2018-06-02 18:00:50.000,"29,2092773255666",2018-06-02 18:00:50.000,"31,3130108157001",2018-06-02 18:00:50.000,Bad,2018-06-02 18:00:50.000,Bad
8,2018-06-02 18:01:00.000,Bad,2018-06-02 18:01:00.000,Bad,2018-06-02 18:01:00.000,"-0,056903322873559",2018-06-02 18:01:00.000,"18,9942783375873",2018-06-02 18:01:00.000,"102,588704806135",...,2018-06-02 18:01:00.000,"32,298282945094",2018-06-02 18:01:00.000,"29,2122186824036",2018-06-02 18:01:00.000,"31,313471560383",2018-06-02 18:01:00.000,Bad,2018-06-02 18:01:00.000,Bad
9,2018-06-02 18:01:10.000,Bad,2018-06-02 18:01:10.000,Bad,2018-06-02 18:01:10.000,"-0,0569287320998517",2018-06-02 18:01:10.000,"18,9942220107816",2018-06-02 18:01:10.000,"102,588738777731",...,2018-06-02 18:01:10.000,"32,2990853567194",2018-06-02 18:01:10.000,"29,2151600392405",2018-06-02 18:01:10.000,"31,313932305066",2018-06-02 18:01:10.000,Bad,2018-06-02 18:01:10.000,Bad
10,2018-06-02 18:01:20.000,Bad,2018-06-02 18:01:20.000,Bad,2018-06-02 18:01:20.000,"-0,0569541413261445",2018-06-02 18:01:20.000,"18,9941656839759",2018-06-02 18:01:20.000,"102,588772749326",...,2018-06-02 18:01:20.000,"32,2998877683448",2018-06-02 18:01:20.000,"29,2181013960775",2018-06-02 18:01:20.000,"31,314393049749",2018-06-02 18:01:20.000,Bad,2018-06-02 18:01:20.000,Bad
11,2018-06-02 18:01:30.000,Bad,2018-06-02 18:01:30.000,Bad,2018-06-02 18:01:30.000,"-0,0569795505524373",2018-06-02 18:01:30.000,"18,9941093571702",2018-06-02 18:01:30.000,"102,588806720921",...,2018-06-02 18:01:30.000,"32,3006901799701",2018-06-02 18:01:30.000,"29,2210427529144",2018-06-02 18:01:30.000,"31,3148537944319",2018-06-02 18:01:30.000,Bad,2018-06-02 18:01:30.000,Bad
12,2018-06-02 18:01:40.000,Bad,2018-06-02 18:01:40.000,Bad,2018-06-02 18:01:40.000,"-0,05700495977873",2018-06-02 18:01:40.000,"18,9940530303645",2018-06-02 18:01:40.000,"102,588840692517",...,2018-06-02 18:01:40.000,"32,3014925915955",2018-06-02 18:01:40.000,"29,2239841097514",2018-06-02 18:01:40.000,"31,3153145391149",2018-06-02 18:01:40.000,Bad,2018-06-02 18:01:40.000,Bad
13,2018-06-02 18:01:50.000,Bad,2018-06-02 18:01:50.000,Bad,2018-06-02 18:01:50.000,"-0,0570303690050228",2018-06-02 18:01:50.000,"18,9939967035588",2018-06-02 18:01:50.000,"102,588874664112",...,2018-06-02 18:01:50.000,"32,3022950032209",2018-06-02 18:01:50.000,"29,2269254665883",2018-06-02 18:01:50.000,"31,3157752837979",2018-06-02 18:01:50.000,Bad,2018-06-02 18:01:50.000,Bad
14,2018-06-02 18:02:00.000,Bad,2018-06-02 18:02:00.000,Bad,2018-06-02 18:02:00.000,"-0,0570557782313156",2018-06-02 18:02:00.000,"18,9939403767531",2018-06-02 18:02:00.000,"102,588908635708",...,2018-06-02 18:02:00.000,"32,3030974148462",2018-06-02 18:02:00.000,"29,2298668234253",2018-06-02 18:02:00.000,"31,3162360284809",2018-06-02 18:02:00.000,Bad,2018-06-02 18:02:00.000,Bad
15,2018-06-02 18:02:10.000,Bad,2018-06-02 18:02:10.000,Bad,2018-06-02 18:02:10.000,"-0,0570811874576083",2018-06-02 18:02:10.000,"18,9938840499475",2018-06-02 18:02:10.000,"102,588942607303",...,2018-06-02 18:02:10.000,"32,3038998264716",2018-06-02 18:02:10.000,"29,2328081802623",2018-06-02 18:02:10.000,"31,3166967731638",2018-06-02 18:02:10.000,Bad,2018-06-02 18:02:10.000,Bad
16,2018-06-02 18:02:20.000,Bad,2018-06-02 18:02:20.000,Bad,2018-06-02 18:02:20.000,"-0,0571065966839011",2018-06-02 18:02:20.000,"18,9938277231418",2018-06-02 18:02:20.000,"102,588976578898",...,2018-06-02 18:02:20.000,"32,304702238097",2018-06-02 18:02:20.000,"29,2357495370992",2018-06-02 18:02:20.000,"31,3171575178468",2018-06-02 18:02:20.000,Bad,2018-06-02 18:02:20.000,Bad
17,2018-06-02 18:02:30.000,Bad,2018-06-02 18:02:30.000,Bad,2018-06-02 18:02:30.000,"-0,0571320059101939",2018-06-02 18:02:30.000,"18,9937713963361",2018-06-02 18:02:30.000,"102,589010550494",...,2018-06-02 18:02:30.000,"32,3055046497223",2018-06-02 18:02:30.000,"29,2386908939362",2018-06-02 18:02:30.000,"31,3176182625298",2018-06-02 18:02:30.000,Bad,2018-06-02 18:02:30.000,Bad
18,2018-06-02 18:02:40.000,Bad,2018-06-02 18:02:40.000,Bad,2018-06-02 18:02:40.000,"-0,0571574151364866",2018-06-02 18:02:40.000,"18,9937150695304",2018-06-02 18:02:40.000,"102,589044522089",...,2018-06-02 18:02:40.000,"32,3063070613477",2018-06-02 18:02:40.000,"29,2416322507731",2018-06-02 18:02:40.000,"31,3180790072127",2018-06-02 18:02:40.000,Bad,2018-06-02 18:02:40.000,Bad
19,2018-06-02 18:02:50.000,Bad,2018-06-02 18:02:50.000,Bad,2018-06-02 18:02:50.000,"-0,0571828243627794",2018-06-02 18:02:50.000,"18,9936587427247",2018-06-02 18:02:50.000,"102,589078493684",...,2018-06-02 18:02:50.000,"32,3071094729731",2018-06-02 18:02:50.000,"29,2445736076101",2018-06-02 18:02:50.000,"31,3185397518957",2018-06-02 18:02:50.000,Bad,2018-06-02 18:02:50.000,Bad
20,2018-06-02 18:03:00.000,Bad,2018-06-02 18:03:00.000,Bad,2018-06-02 18:03:00.000,"-0,0572082335890722",2018-06-02 18:03:00.000,"18,993602415919",2018-06-02 18:03:00.000,"102,58911246528",...,2018-06-02 18:03:00.000,"32,3079118845984",2018-06-02 18:03:00.000,"29,2475149644471",2018-06-02 18:03:00.000,"31,3190004965787",2018-06-02 18:03:00.000,Bad,2018-06-02 18:03:00.000,Bad
21,2018-06-02 18:03:10.000,Bad,2018-06-02 18:03:10.000,Bad,2018-06-02 18:03:10.000,"-0,0572336428153649",2018-06-02 18:03:10.000,"18,9935460891133",2018-06-02 18:03:10.000,"102,589146436875",...,2018-06-02 18:03:10.000,"32,3087142962238",2018-06-02 18:03:10.000,"29,250456321284",2018-06-02 18:03:10.000,"31,3194612412617",2018-06-02 18:03:10.000,Bad,2018-06-02 18:03:10.000,Bad
22,2018-06-02 18:03:20.000,Bad,2018-06-02 18:03:20.000,Bad,2018-06-02 18:03:20.000,"-0,0572590520416577",2018-06-02 18:03:20.000,"18,9934897623076",2018-06-02 18:03:20.000,"102,589180408471",...,2018-06-02 18:03:20.000,"32,3095167078492",2018-06-02 18:03:20.000,"29,253397678121",2018-06-02 18:03:20.000,"31,3199219859446",2018-06-02 18:03:20.000,Bad,2018-06-02 18:03:20.000,Bad
23,2018-06-02 18:03:30.000,Bad,2018-06-02 18:03:30.000,Bad,2018-06-02 18:03:30.000,"-0,0572844612679504",2018-06-02 18:03:30.000,"18,9934334355019",2018-06-02 18:03:30.000,"102,589214380066",...,2018-06-02 18:03:30.000,"32,3103191194746",2018-06-02 18:03:30.000,"29,2563390349579",2018-06-02 18:03:30.000,"31,3203827306276",2018-06-02 18:03:30.000,Bad,2018-06-02 18:03:30.000,Bad
24,2018-06-02 18:03:40.000,Bad,2018-06-02 18:03:40.000,Bad,2018-06-02 18:03:40.000,"-0,0573098704942432",2018-06-02 18:03:40.000,"18,9933771086962",2018-06-02 18:03:40.000,"102,589248351661",...,2018-06-02 18:03:40.000,"32,3111215310999",2018-06-02 18:03:40.000,"29,2592803917949",2018-06-02 18:03:40.000,"31,3208434753106",2018-06-02 18:03:40.000,Bad,2018-06-02 18:03:40.000,Bad
25,2018-06-02 18:03:50.000,Bad,2018-06-02 18:03:50.000,Bad,2018-06-02 18:03:50.000,"-0,057335279720536",2018-06-02 18:03:50.000,"18,9933207818905",2018-06-02 18:03:50.000,"102,589282323257",...,2018-06-02 18:03:50.000,"32,3119239427253",2018-06-02 18:03:50.000,"29,2622217486318",2018-06-02 18:03:50.000,"31,3213042199935",2018-06-02 18:03:50.000,Bad,2018-06-02 18:03:50.000,Bad
26,2018-06-02 18:04:00.000,Bad,2018-06-02 18:04:00.000,Bad,2018-06-02 18:04:00.000,"-0,0573606889468287",2018-06-02 18:04:00.000,"18,9932644550848",2018-06-02 18:04:00.000,"102,589316294852",...,2018-06-02 18:04:00.000,"32,3127263543507",2018-06-02 18:04:00.000,"29,2651631054688",2018-06-02 18:04:00.000,"31,3217649646765",2018-06-02 18:04:00.000,Bad,2018-06-02 18:04:00.000,Bad
27,2018-06-02 18:04:10.000,Bad,2018-06-02 18:04:10.000,Bad,2018-06-02 18:04:10.000,"-0,0573860981731215",2018-06-02 18:04:10.000,"18,9932081282792",2018-06-02 18:04:10.000,"102,589350266448",...,2018-06-02 18:04:10.000,"32,313528765976",2018-06-02 18:04:10.000,"29,2681044623058",2018-06-02 18:04:10.000,"31,3222257093595",2018-06-02 18:04:10.000,Bad,2018-06-02 18:04:10.000,Bad
28,2018-06-02 18:04:20.000,Bad,2018-06-02 18:04:20.000,Bad,2018-06-02 18:04:20.000,"-0,0574115073994143",2018-06-02 18:04:20.000,"18,9931518014735",2018-06-02 18:04:20.000,"102,589384238043",...,2018-06-02 18:04:20.000,"32,3143311776014",2018-06-02 18:04:20.000,"29,2710458191427",2018-06-02 18:04:20.000,"31,3226864540425",2018-06-02 18:04:20.000,Bad,2018-06-02 18:04:20.000,Bad
29,2018-06-02 18:04:30.000,Bad,2018-06-02 18:04:30.000,Bad,2018-06-02 18:04:30.000,"-0,057436916625707",2018-06-02 18:04:30.000,"18,9930954746678",2018-06-02 18:04:30.000,"102,589418209638",...,2018-06-02 18:04:30.000,"32,3151335892268",2018-06-02 18:04:30.000,"29,2739871759797",2018-06-02 18:04:30.000,"31,3231471987254",2018-06-02 18:04:30.000,Bad,2018-06-02 18:04:30.000,Bad
30,2018-06-02 18:04:40.000,Bad,2018-06-02 18:04:40.000,Bad,2018-06-02 18:04:40.000,"-0,0574623258519998",2018-06-02 18:04:40.000,"18,9930391478621",2018-06-02 18:04:40.000,"102,589452181234",...,2018-06-02 18:04:40.000,"32,3159360008521",2018-06-02 18:04:40.000,"29,2769285328166",2018-06-02 18:04:40.000,"31,3236079434084",2018-06-02 18:04:40.000,Bad,2018-06-02 18:04:40.000,Bad
31,2018-06-02 18:04:50.000,Bad,2018-06-02 18:04:50.000,Bad,2018-06-02 18:04:50.000,"-0,0574877350782926",2018-06-02 18:04:50.000,"18,9929828210564",2018-06-02 18:04:50.000,"102,589486152829",...,2018-06-02 18:04:50.000,"32,3167384124775",2018-06-02 18:04:50.000,"29,2798698896536",2018-06-02 18:04:50.000,"31,3240686880914",2018-06-02 18:04:50.000,Bad,2018-06-02 18:04:50.000,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2018-06-02 20:55:10.000,1,2018-06-02 20:55:10.000,0,2018-06-02 20:55:10.000,"-0,0550918579101563",2018-06-02 20:55:10.000,"19,0191913854598",2018-06-02 20:55:10.000,"102,748428009401",...,2018-06-02 20:55:10.000,"16,1272251706654",2018-06-02 20:55:10.000,"14,9568014953676",2018-06-02 20:55:10.000,"16,0225406428246",2018-06-02 20:55:10.000,1,2018-06-02 20:55:10.000,0
1054,2018-06-02 20:55:20.000,1,2018-06-02 20:55:20.000,0,2018-06-02 20:55:20.000,"-0,0550918579101563",2018-06-02 20:55:20.000,"19,0199626243064",2018-06-02 20:55:20.000,"102,748527502041",...,2018-06-02 20:55:20.000,"16,1386089750999",2018-06-02 20:55:20.000,"14,9643488711188",2018-06-02 20:55:20.000,"16,0339595583729",2018-06-02 20:55:20.000,1,2018-06-02 20:55:20.000,0
1055,2018-06-02 20:55:30.000,1,2018-06-02 20:55:30.000,0,2018-06-02 20:55:30.000,"-0,0550918579101563",2018-06-02 20:55:30.000,"19,020733863153",2018-06-02 20:55:30.000,"102,748626994682",...,2018-06-02 20:55:30.000,"16,1499927795345",2018-06-02 20:55:30.000,"14,9718962468699",2018-06-02 20:55:30.000,"16,0453784739212",2018-06-02 20:55:30.000,1,2018-06-02 20:55:30.000,0
1056,2018-06-02 20:55:40.000,1,2018-06-02 20:55:40.000,0,2018-06-02 20:55:40.000,"-0,0550918579101563",2018-06-02 20:55:40.000,"19,0215051019996",2018-06-02 20:55:40.000,"102,748726487322",...,2018-06-02 20:55:40.000,"16,161376583969",2018-06-02 20:55:40.000,"14,9794436226211",2018-06-02 20:55:40.000,"16,0567973894695",2018-06-02 20:55:40.000,1,2018-06-02 20:55:40.000,0
1057,2018-06-02 20:55:50.000,1,2018-06-02 20:55:50.000,0,2018-06-02 20:55:50.000,"-0,0550918579101563",2018-06-02 20:55:50.000,"19,0222763408462",2018-06-02 20:55:50.000,"102,748825979962",...,2018-06-02 20:55:50.000,"16,1727603884036",2018-06-02 20:55:50.000,"14,9869909983722",2018-06-02 20:55:50.000,"16,0682163050178",2018-06-02 20:55:50.000,1,2018-06-02 20:55:50.000,0
1058,2018-06-02 20:56:00.000,1,2018-06-02 20:56:00.000,0,2018-06-02 20:56:00.000,"-0,0550918579101563",2018-06-02 20:56:00.000,"19,0230475796929",2018-06-02 20:56:00.000,"102,748925472602",...,2018-06-02 20:56:00.000,"16,1841441928382",2018-06-02 20:56:00.000,"14,9945383741234",2018-06-02 20:56:00.000,"16,0796352205662",2018-06-02 20:56:00.000,1,2018-06-02 20:56:00.000,0
1059,2018-06-02 20:56:10.000,1,2018-06-02 20:56:10.000,0,2018-06-02 20:56:10.000,"-0,0550918579101563",2018-06-02 20:56:10.000,"19,0238188185395",2018-06-02 20:56:10.000,"102,749024965243",...,2018-06-02 20:56:10.000,"16,1955279972727",2018-06-02 20:56:10.000,"15,0020857498745",2018-06-02 20:56:10.000,"16,0910541361145",2018-06-02 20:56:10.000,1,2018-06-02 20:56:10.000,0
1060,2018-06-02 20:56:20.000,1,2018-06-02 20:56:20.000,0,2018-06-02 20:56:20.000,"-0,0550918579101563",2018-06-02 20:56:20.000,"19,0245900573861",2018-06-02 20:56:20.000,"102,749124457883",...,2018-06-02 20:56:20.000,"16,2069118017073",2018-06-02 20:56:20.000,"15,0096331256257",2018-06-02 20:56:20.000,"16,1024730516628",2018-06-02 20:56:20.000,1,2018-06-02 20:56:20.000,0
1061,2018-06-02 20:56:30.000,1,2018-06-02 20:56:30.000,0,2018-06-02 20:56:30.000,"-0,0550918579101563",2018-06-02 20:56:30.000,"19,0253612962327",2018-06-02 20:56:30.000,"102,749223950523",...,2018-06-02 20:56:30.000,"16,2182956061418",2018-06-02 20:56:30.000,"15,0171805013768",2018-06-02 20:56:30.000,"16,1138919672111",2018-06-02 20:56:30.000,1,2018-06-02 20:56:30.000,0
1062,2018-06-02 20:56:40.000,1,2018-06-02 20:56:40.000,0,2018-06-02 20:56:40.000,"-0,0550918579101563",2018-06-02 20:56:40.000,"19,0261325350793",2018-06-02 20:56:40.000,"102,749323443164",...,2018-06-02 20:56:40.000,"16,2296794105764",2018-06-02 20:56:40.000,"15,024727877128",2018-06-02 20:56:40.000,"16,1253108827594",2018-06-02 20:56:40.000,1,2018-06-02 20:56:40.000,0
1063,2018-06-02 20:56:50.000,1,2018-06-02 20:56:50.000,0,2018-06-02 20:56:50.000,"-0,0550918579101563",2018-06-02 20:56:50.000,"19,026903773926",2018-06-02 20:56:50.000,"102,749422935804",...,2018-06-02 20:56:50.000,"16,241063215011",2018-06-02 20:56:50.000,"15,0322752528791",2018-06-02 20:56:50.000,"16,1367297983077",2018-06-02 20:56:50.000,1,2018-06-02 20:56:50.000,0
1064,2018-06-02 20:57:00.000,1,2018-06-02 20:57:00.000,0,2018-06-02 20:57:00.000,"-0,0550918579101563",2018-06-02 20:57:00.000,"19,0276750127726",2018-06-02 20:57:00.000,"102,749522428444",...,2018-06-02 20:57:00.000,"16,2524470194455",2018-06-02 20:57:00.000,"15,0398226286303",2018-06-02 20:57:00.000,"16,148148713856",2018-06-02 20:57:00.000,1,2018-06-02 20:57:00.000,0
1065,2018-06-02 20:57:10.000,1,2018-06-02 20:57:10.000,0,2018-06-02 20:57:10.000,"-0,0550918579101563",2018-06-02 20:57:10.000,"19,0284462516192",2018-06-02 20:57:10.000,"102,749621921085",...,2018-06-02 20:57:10.000,"16,2638308238801",2018-06-02 20:57:10.000,"15,0473700043814",2018-06-02 20:57:10.000,"16,1595676294043",2018-06-02 20:57:10.000,1,2018-06-02 20:57:10.000,0
1066,2018-06-02 20:57:20.000,1,2018-06-02 20:57:20.000,0,2018-06-02 20:57:20.000,"-0,0550918579101563",2018-06-02 20:57:20.000,"19,0292174904658",2018-06-02 20:57:20.000,"102,749691944553",...,2018-06-02 20:57:20.000,"16,2752146283146",2018-06-02 20:57:20.000,"15,0549173801325",2018-06-02 20:57:20.000,"16,1709865449526",2018-06-02 20:57:20.000,1,2018-06-02 20:57:20.000,0
1067,2018-06-02 20:57:30.000,1,2018-06-02 20:57:30.000,0,2018-06-02 20:57:30.000,"-0,0550918579101563",2018-06-02 20:57:30.000,"19,0299887293124",2018-06-02 20:57:30.000,"102,749732178853",...,2018-06-02 20:57:30.000,"16,2865984327492",2018-06-02 20:57:30.000,"15,0624647558837",2018-06-02 20:57:30.000,"16,1824054605009",2018-06-02 20:57:30.000,1,2018-06-02 20:57:30.000,0
1068,2018-06-02 20:57:40.000,1,2018-06-02 20:57:40.000,0,2018-06-02 20:57:40.000,"-0,0550918579101563",2018-06-02 20:57:40.000,"19,030759968159",2018-06-02 20:57:40.000,"102,749772413153",...,2018-06-02 20:57:40.000,"16,2979822371838",2018-06-02 20:57:40.000,"15,0700121316348",2018-06-02 20:57:40.000,"16,1938243760493",2018-06-02 20:57:40.000,1,2018-06-02 20:57:40.000,0
1069,2018-06-02 20:57:50.000,1,2018-06-02 20:57:50.000,0,2018-06-02 20:57:50.000,"-0,0550918579101563",2018-06-02 20:57:50.000,"19,0315312070057",2018-06-02 20:57:50.000,"102,749812647454",...,2018-06-02 20:57:50.000,"16,3093660416183",2018-06-02 20:57:50.000,"15,077559507386",2018-06-02 20:57:50.000,"16,2052432915976",2018-06-02 20:57:50.000,1,2018-06-02 20:57:50.000,0
1070,2018-06-02 20:58:00.000,1,2018-06-02 20:58:00.000,0,2018-06-02 20:58:00.000,"-0,0550918579101563",2018-06-02 20:58:00.000,"19,0323024458523",2018-06-02 20:58:00.000,"102,749852881754",...,2018-06-02 20:58:00.000,"16,3207498460529",2018-06-02 20:58:00.000,"15,0851068831371",2018-06-02 20:58:00.000,"16,2166622071459",2018-06-02 20:58:00.000,1,2018-06-02 20:58:00.000,0
1071,2018-06-02 20:58:10.000,1,2018-06-02 20:58:10.000,0,2018-06-02 20:58:10.000,"-0,0550918579101563",2018-06-02 20:58:10.000,"19,0330736846989",2018-06-02 20:58:10.000,"102,749893116055",...,2018-06-02 20:58:10.000,"16,3321336504874",2018-06-02 20:58:10.000,"15,0926542588883",2018-06-02 20:58:10.000,"16,2280811226942",2018-06-02 20:58:10.000,1,2018-06-02 20:58:10.000,0
1072,2018-06-02 20:58:20.000,1,2018-06-02 20:58:20.000,0,2018-06-02 20:58:20.000,"-0,0550918579101563",2018-06-02 20:58:20.000,"19,0338449235455",2018-06-02 20:58:20.000,"102,749933350355",...,2018-06-02 20:58:20.000,"16,343517454922",2018-06-02 20:58:20.000,"15,1002016346394",2018-06-02 20:58:20.000,"16,2395000382425",2018-06-02 20:58:20.000,1,2018-06-02 20:58:20.000,0
1073,2018-06-02 20:58:30.000,1,2018-06-02 20:58:30.000,0,2018-06-02 20:58:30.000,"-0,0550918579101563",2018-06-02 20:58:30.000,"19,0346161623921",2018-06-02 20:58:30.000,"102,749973584655",...,2018-06-02 20:58:30.000,"16,3549012593566",2018-06-02 20:58:30.000,"15,1077490103906",2018-06-02 20:58:30.000,"16,2509189537908",2018-06-02 20:58:30.000,1,2018-06-02 20:58:30.000,0

In [3]:
#rename Columns
df = loadDF.rename(
    {
        'Cañuelas/Ezeiza #3 (S01)': 'Timestamp',
        'CFA10CE001/XE01':'Active Load',
        'MBA10AE005/XG01':'Variable Guide Vane',
        'MBA10CP010/XE01':'Compressor Inlet Pressure',
        'MBA10CP015/XE01':'Press Comp Outlet.1',
        'MBA10CP016/XE01':'Press Comp Outlet.2',
        'MBA10CP017/XE01':'Press Comp Outlet.3',
        'MBA10CP040/XE01':'Turbine Exhaust Diff Pressure.1',
        'MBA10CP041/XE01':'Turbine Exhaust Diff Pressure.2',
        'MBA10CP042/XE01':'Turbine Exhaust Diff Pressure.3',
        'MBA10CP045/XE01':'Turbine Exhaust Pressure',
        'MBA10CP065/XE01':'Air Intake Diff Pressure.1',
        'MBA10CP075/XE01':'Air Intake Diff Pressure.2',
        'MBA10CS005/XE01':'NT1 Rotor Speed',
        'MBA10CS010/XE01':'NT2 Rotor Speed',
        'MBA10CT025/XE01':'Compressor Inlet Temperature.1',
        'MBA10CT026/XE01':'Compressor Inlet Temperature.2',
        'MBA10CT027/XE01':'Compressor Inlet Temperature.3',
        'MBA10CT030/XE01':'Compressor Outlet Temperature.1',
        'MBA10CT031/XE01':'Compressor Outlet Temperature.2',
        'MBA10CT032/XE01':'Compressor Outlet Temperature.3',
        'MBA10CT100/XE01':'Exhaust Temperature 1.1',
        'MBA10CT100/XE02':'Exhaust Temperature 1.2',
        'MBA10CT100/XE03':'Exhaust Temperature 1.3',
        'MBA10CT105/XE01':'Exhaust Temperature 2.1',
        'MBA10CT105/XE02':'Exhaust Temperature 2.2',
        'MBA10CT105/XE03':'Exhaust Temperature 2.3',
        'MBA10CT110/XE01':'Exhaust Temperature 3.1',
        'MBA10CT110/XE02':'Exhaust Temperature 3.2',
        'MBA10CT110/XE03':'Exhaust Temperature 3.3',
        'MBA10CT115/XE01':'Exhaust Temperature 4.1',
        'MBA10CT115/XE02':'Exhaust Temperature 4.2',
        'MBA10CT115/XE03':'Exhaust Temperature 4.3',
        'MBA10CT120/XE01':'Exhaust Temperature 5.1',
        'MBA10CT120/XE02':'Exhaust Temperature 5.2',
        'MBA10CT120/XE03':'Exhaust Temperature 5.3',
        'MBA10CT125/XE01':'Exhaust Temperature 6.1',
        'MBA10CT125/XE02':'Exhaust Temperature 6.2',
        'MBA10CT125/XE03':'Exhaust Temperature 6.3',
        'MBA10CT130/XE01':'Exhaust Temperature 7.1',
        'MBA10CT130/XE02':'Exhaust Temperature 7.2',
        'MBA10CT130/XE03':'Exhaust Temperature 7.3',
        'MBA10CT135/XE01':'Exhaust Temperature 8.1',
        'MBA10CT135/XE02':'Exhaust Temperature 8.2',
        'MBA10CT135/XE03':'Exhaust Temperature 8.3',
        'MBA10CT140/XE01':'Exhaust Temperature 9.1',
        'MBA10CT140/XE02':'Exhaust Temperature 9.2',
        'MBA10CT140/XE03':'Exhaust Temperature 9.3',
        'MBA10CT145/XE01':'Exhaust Temperature 10.1',
        'MBA10CT145/XE02':'Exhaust Temperature 10.2',
        'MBA10CT145/XE03':'Exhaust Temperature 10.3',
        'MBA10CT150/XE01':'Exhaust Temperature 11.1',
        'MBA10CT150/XE02':'Exhaust Temperature 11.2',
        'MBA10CT150/XE03':'Exhaust Temperature 11.3',
        'MBA10CT155/XE01':'Exhaust Temperature 12.1',
        'MBA10CT155/XE02':'Exhaust Temperature 12.2',
        'MBA10CT155/XE03':'Exhaust Temperature 12.3',
        'MBA10CT160/XE01':'Exhaust Temperature 13.1',
        'MBA10CT160/XE02':'Exhaust Temperature 13.2',
        'MBA10CT160/XE03':'Exhaust Temperature 13.3',
        'MBA10CT165/XE01':'Exhaust Temperature 14.1',
        'MBA10CT165/XE02':'Exhaust Temperature 14.2',
        'MBA10CT165/XE03':'Exhaust Temperature 14.3',
        'MBA10CT170/XE01':'Exhaust Temperature 15.1',
        'MBA10CT170/XE02':'Exhaust Temperature 15.2',
        'MBA10CT170/XE03':'Exhaust Temperature 15.3',
        'MBA10CT175/XE01':'Exhaust Temperature 16.1',
        'MBA10CT175/XE02':'Exhaust Temperature 16.2',
        'MBA10CT175/XE03':'Exhaust Temperature 16.3',
        'MBA10FF900/XE01':'Turbine Inlet Massflow',
        'MBA10FT903/XE01':'Turbine Inlet Temperature (T52)',
        'MBA10FT910/ZE01':'T7 Exhaust Temp Average',
        'MBL30CM005/XE01':'Ambient Air Humidity',
        'MBL30CT005/XE01':'Ambient Air Temperature',
        'MBP10CT005/XE01':'Gas Fuel Temperature.1',
        'MBP10CT006/XE01':'Gas Fuel Temperature.2',
        'MBP10CT007/XE01':'Gas Fuel Temperature.3',
        'MKA10CE014/XE01':'Generator Power Factor',
        'MKY10CS010/XE01':'Generator Frequency'
    },  axis='columns')

In [4]:
#Delete columns useless
df = df.drop(
    ['BAC10GS101/XP01',
    'BAC10GS101/XP11',
    'Generator Power Factor', 
    'Generator Frequency',
    'Turbine Inlet Massflow',
    'NT1 Rotor Speed',
    'NT2 Rotor Speed']
     , axis=1)

for i in range (1,80):
    column = 'Cañuelas/Ezeiza #3 (S01).' + str(i)
    df = df.drop([column], axis=1)

In [5]:
#Change types
#orders['item_price'] = orders.item_price.str.replace('$', '').astype(float)
df = df.applymap(lambda x: x.replace(',', '.'))
#df['Timestamp']= df[['Timestamp']].
df[df.columns[1:74]] = df[df.columns[1:74]].apply(pd.to_numeric, axis=0)

df.head()

,Timestamp,Active Load,Variable Guide Vane,Compressor Inlet Pressure,Press Comp Outlet.1,Press Comp Outlet.2,Press Comp Outlet.3,Turbine Exhaust Diff Pressure.1,Turbine Exhaust Diff Pressure.2,Turbine Exhaust Diff Pressure.3,...,Exhaust Temperature 16.1,Exhaust Temperature 16.2,Exhaust Temperature 16.3,Turbine Inlet Temperature (T52),T7 Exhaust Temp Average,Ambient Air Humidity,Ambient Air Temperature,Gas Fuel Temperature.1,Gas Fuel Temperature.2,Gas Fuel Temperature.3
2,2018-06-02 18:00:00.000,-0.056751,19.013666,102.588501,0.002681,0.003283,0.002878,-0.017880,-0.022261,-0.022615,...,6.466119,8.583348,6.837559,4.956082,5.239058,73.043221,8.917938,32.293468,29.194571,31.310707
3,2018-06-02 18:00:10.000,-0.056776,19.001216,102.588535,0.002691,0.003293,0.002885,-0.017884,-0.022265,-0.022619,...,6.467353,8.587637,6.837559,4.957172,5.238821,73.041410,8.917938,32.294271,29.197512,31.311168
4,2018-06-02 18:00:20.000,-0.056802,18.994504,102.588569,0.002700,0.003302,0.002893,-0.017888,-0.022269,-0.022622,...,6.468586,8.591926,6.837559,4.958262,5.238584,73.031547,8.917938,32.295073,29.200453,31.311629
5,2018-06-02 18:00:30.000,-0.056827,18.994447,102.588603,0.002709,0.003312,0.002900,-0.017891,-0.022272,-0.022626,...,6.469819,8.596216,6.837559,4.959352,5.238347,73.022732,8.918034,32.295876,29.203395,31.312089
6,2018-06-02 18:00:40.000,-0.056853,18.994391,102.588637,0.002718,0.003322,0.002908,-0.017895,-0.022276,-0.022629,...,6.471053,8.600505,6.837559,4.960442,5.238109,73.019719,8.919843,32.296678,29.206336,31.312550

In [6]:
#Get AVG values to each group of characteristics
df['Press Comp Outlet'] = df[['Press Comp Outlet.1', 'Press Comp Outlet.2','Press Comp Outlet.3']].mean(axis=1)
df = df.drop(['Press Comp Outlet.1','Press Comp Outlet.2','Press Comp Outlet.3'],axis=1)
df['Turbine Exhaust Diff Pressure'] = df[['Turbine Exhaust Diff Pressure.1', 'Turbine Exhaust Diff Pressure.2','Turbine Exhaust Diff Pressure.3']].mean(axis=1)
df = df.drop(['Turbine Exhaust Diff Pressure.1','Turbine Exhaust Diff Pressure.2','Turbine Exhaust Diff Pressure.3'],axis=1)
df['Air Intake Diff Pressure'] = df[['Air Intake Diff Pressure.1', 'Air Intake Diff Pressure.2']].mean(axis=1)
df = df.drop(['Air Intake Diff Pressure.1', 'Air Intake Diff Pressure.2'],axis=1)
df['Compressor Inlet Temperature'] = df[['Compressor Inlet Temperature.1', 'Compressor Inlet Temperature.2', 'Compressor Inlet Temperature.3']].mean(axis=1)
df = df.drop(['Compressor Inlet Temperature.1', 'Compressor Inlet Temperature.2', 'Compressor Inlet Temperature.3'],axis=1)
df['Compressor Outlet Temperature'] = df[['Compressor Outlet Temperature.1', 'Compressor Outlet Temperature.2', 'Compressor Outlet Temperature.3']].mean(axis=1)
df = df.drop(['Compressor Outlet Temperature.1', 'Compressor Outlet Temperature.2', 'Compressor Outlet Temperature.3'],axis=1)
for i in range(1,17):
    name = 'Exhaust Tempeture ' + str(i)
    subname1 = 'Exhaust Temperature ' + str(i) + '.1'
    subname2 = 'Exhaust Temperature ' + str(i) + '.2'
    subname3 = 'Exhaust Temperature ' + str(i) + '.3'
    df[name] = df[[subname1, subname2, subname3]].mean(axis=1)
    df = df.drop([subname1, subname2, subname3], axis=1)
df['Gas Fuel Temperature'] = df[['Gas Fuel Temperature.1', 'Gas Fuel Temperature.2', 'Gas Fuel Temperature.3']].mean(axis=1)
df = df.drop(['Gas Fuel Temperature.1', 'Gas Fuel Temperature.2', 'Gas Fuel Temperature.3'],axis=1)

In [7]:
df.to_csv("../preprocessData.csv", sep =';')
#df
#windowDF.add(df)

In [8]:
#windowDF = windowDF.append(df)
#windowDF